.aboutsection{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90.07deg, rgba(30, 42, 93, 0.04) 30.91%, rgba(48, 62, 130, 0.04) 64.79%, rgba(60, 80, 157, 0.04) 91.94%);
    gap: 200px;
    margin-top: 200px;
}